body{
    background-color: goldenrod;
}
#show_sketch{

    float: right;
}
canvas{

    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes example {

    from{ box-shadow: 1px 1px 40px grey;}
    to {box-shadow: 1px 1px 40px whitesmoke;}

}
P{
 padding-top: 10xp;
font-size: 20px;

}
h1{
    color: rgb(0, 0, 0);
    background-color: bisque;
    padding-top: 5px;
}